* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    height: 100%;
}

h1 {
    color: green;
    font-size: 32px;
}

div {
    color: grey;
    font-size: 22px;
    background-color: yellow;
    border: 2px;
}

p {
    color: blue;
}

li {
    color: purple;
    font-size: 26px;
}

img {
    width: 400px;
    height: 200px;
}

span {
    color: lightskyblue;
    border: 1px;
}

a {
    color: red;
}